<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Indik</title>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"
  >
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a href="/home"><span class="navbar-brand mb-0 h1" style="font-weight: bold;">Indik</span></a>
        </nav>
    </header>
        <div class="container"  style="width: 70%;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item"><a href="/perfil">Perfil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alterar Perfil</li>
            </ol>
        </nav>
        <div>
  <div class="container pb-4 mt-5">
    <div class="row col-sm-12">
      <form class="col-sm-12" method="POST">
        <div class="form-row">
          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="email" class="col-sm-3">Alterar E-mail</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="nome" class="col-sm-3">Alterar nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome">
          </div>
          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="username" class="col-sm-3">Alterar username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="senha" class="col-sm-3">Alterar senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Senha">
          </div>
          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="cidade" class="col-sm-3">Alterar cidade</label>
            <input type="text" class="form-control" id="cidade" placeholder="Cidade">
          </div>
          <div class="form-group col-sm-12 d-flex" style="gap: 16px">
            <label for="estado" class="col-sm-3">Alterar estado</label>
            <input type="text" class="form-control" id="estado" placeholder="Estado">
          </div>
        </div>
        <button type="submit" class="btn btn-primary aling-self-center">Confirmar alterações</button>
      </form>
    </div>
  </div>
</body>

</html>