<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Indik</title>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"
  >
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/principal.html">Indik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/midias.html">Midias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nova-midia.html">+ Nova Midia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/relatorios.html">Relatórios</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar membros" aria-label="Buscar membros">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar membros</button>
      </form>
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item active">
          <a class="nav-link" href="/solicitacoes-de-midias.html">Solicitações mídias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil.html">Perfil</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h5 class="card-title pt-4">Filme/Série/Livro</h5>
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="card d-flex flex-row">
          <div
            class="d-flex flex-row align-items-center justify-content-center mt-4 col-sm-6"
            style="gap: 4px"
          >
            <strong class="card-title mb-0">Classificação:</strong>
            <button type="button" class="btn btn-success">Like</button>
            <button type="button" class="btn btn-danger">Dislike</button>
          </div>
          <div
            class="justify-self-end p-4 col-sm-6"
          >
            <img src="https://lh3.googleusercontent.com/proxy/HnBa4RUMs3N4vmREqLMzdjW0NCczA8QTTmud7fT59tYb7ExR1XyEziVbXGdjAx3bupV3izubZOEAiaIH-uBqf_Ip8OvLGGbEFYs_FXQcOsuEWZqH1hXl" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>