<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Indik</title>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous"
  >
</head>

<body>
      <header>
        <nav class="navbar navbar-light bg-light" style="display: flex;   flex-wrap: nowrap;  justify-content: center;">
           <a href="/home"><span class="navbar-brand mb-0 h1" style="font-size: 28px; font-weight: bold;">Indik</span></a>
            <a href="/perfil" class="navbar-brand mb-0 h1" style="margin: 0% 2% 0% 5%; font-size: 20px;">Perfil</a>
            <a href="/midias" class="navbar-brand mb-0 h1" style="margin: 0% 0%; font-size: 20px;">Mídias</a>
            	<div class="input-group mb-3" style="margin: 1.5% 10%; padding-top: 0px; ">
					<input type="text" id="titulo" class="form-control" placeholder="Pesquise....">
  					<button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
  				</div>
            <button class="btn btn-primary" onclick="window.location.href='/form';" style="margin: 1% 0%;  white-space: nowrap; ">Avaliar Mídia</button>
            
        </nav>
    </header>
  <div class="container pb-4">
    <div class="row mt-5 d-flex flex-column" style="gap: 10px">
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-title px-5 pt-4">Filmes</h5>
          <div
            class="card-body d-flex align-items-center justify-content-center"
            style="gap: 10px"
          >
            <img src="images/image.svg" class="rounded" alt="Filme">
            <img src="images/image.svg" class="rounded" alt="Filme">
            <img src="images/image.svg" class="rounded" alt="Filme">
            <img src="images/image.svg" class="rounded" alt="Filme">
            <img src="images/image.svg" class="rounded" alt="Filme">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-title px-5 pt-4">Livros</h5>
          <div
            class="card-body d-flex align-items-center justify-content-center"
            style="gap: 10px"
          >
            <img src="images/image.svg" class="rounded" alt="Livro">
            <img src="images/image.svg" class="rounded" alt="Livro">
            <img src="images/image.svg" class="rounded" alt="Livro">
            <img src="images/image.svg" class="rounded" alt="Livro">
            <img src="images/image.svg" class="rounded" alt="Livro">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-title px-5 pt-4">Séries</h5>
          <div
            class="card-body d-flex align-items-center justify-content-center"
            style="gap: 10px"
          >
            <img src="images/image.svg" class="rounded" alt="Série">
            <img src="images/image.svg" class="rounded" alt="Série">
            <img src="images/image.svg" class="rounded" alt="Série">
            <img src="images/image.svg" class="rounded" alt="Série">
            <img src="images/image.svg" class="rounded" alt="Série">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>